
.cartao {
    overflow: hidden;
    border-radius: 20px;
    display:flex; 
    flex-direction:column;
    margin: 20px;
    justify-content:space-between;
    cursor:pointer;
}

.img_cartao{
    height: 12rem;
    width: 100%;
    object-fit:cover;
}

.titulo_cartao{
    padding:1rem;
}

.descricao_cartao{
    padding:0 1rem;
}

.botao_cartao{
    padding:1rem;
    font-family:inherit;
    font-weight:bold;
    font-size:1rem;
    margin:1rem;
    border:2px solid;
    background: black;
    color :white;
    border-radius: 20px;  
    cursor: pointer;

}
.botao_cartao:hover {
    background-color: grey;
    transition: 300ms;
  }

.cartao:hover{
    transform:scale(1.02);
    box-shadow:0 2px 10px;
    transition: 300ms;
}